{% extends 'base_login.html' %}

{% block content %}
{% if form %}
<form action="" method="post">
    
    {{ form.csrf_token }} <!--Предотвращение CSRF атак-->

    {{ form.name.label}} <!-- Добавили Label с текстом Имя -->
    {{ form.name()}} <!-- Добавили поле ввода name -->
    <br>
    {{ form.email.label}} <!-- Добавили Label с текстом email -->
    {{ form.email()}} <!-- Добавили поле ввода email -->
    <br>
    {{ form.password.label}} <!-- Добавили с текстом Пароль -->
    {{ form.password()}} <!-- Добавили поле ввода password -->
    <br>
    {{ form.pass_again.label}} <!-- Добавили Label с текстом Повторный пароль -->
    {{ form.pass_again()}} <!-- Добавили поле ввода pass_again -->
    <br>
    {{ form.rememeber_me.label}} <!-- Добавили чекбокс Label с текстом Запомнить меня -->
    {{ form.rememeber_me()}} <!-- Добавили чекбокс -->
    <br>
    {{ form.submit() }}
{% endif %}
    <!-- <h5 style="color: rgb(3, 144, 92);"> {{ message }}</h5> -->
    {% if message == 'Пароли не совпадают, повторите ввод пароля' %}
        <br>
        <h5 style="color: crimson;"> {{ message }}</h5>
    {% else %}
        <h5 style="color: rgb(3, 144, 92);"> {{ message }}</h5>
        <a href="/log">Авторизация</a>
    {% endif %}
</form>

{% endblock %}